<nav class="tucine-nav-bar" mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight [tabPanel]="tabPanel">

  <div class="tucine-logo">
      <a><img src="https://i.postimg.cc/T2JxZZ2d/brand.png" alt="TuCine"></a>
  </div>

  <a class="nav-options" mat-tab-link *ngFor="let link of links" [routerLink]="['/', link.toLowerCase()]" routerLinkActive="router-link-active" (click)="activeLink = link" [active]="activeLink == link">
    {{link}}
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="link === 'Mis grupos'">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/crear-grupo']">Crear nuevo grupo</button>
        <button mat-menu-item [routerLink]="['/mis-grupos']">Mis grupos</button>
    </mat-menu>
</a>


  <span class="tu-cine"></span>

  <a class="nav-icon" mat-button><mat-icon>shopping_cart</mat-icon></a>
  <a class="nav-icon" mat-button><mat-icon>chat_bubble</mat-icon></a>
  <a class="nav-icon" mat-button><mat-icon>notifications</mat-icon></a>
  <a class="img-avatar"><img src="https://i.postimg.cc/sXHwGY50/avatar.png" alt="avatar"></a>
  <a class="nav-icon" mat-button><mat-icon class="nav-expand">expand_more</mat-icon></a>



</nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>


  <!-- <button mat-button>Pelicula 2</button> -->





