<iframe width="1280" height="720" [src]="sanitizer.bypassSecurityTrustResourceUrl(moviesProfile[pos-1].trailer)" title="PARÁSITO TRÁILER OFICIAL SUBTITULADO AL ESPAÑOL" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div class="hero-section">
  <div class="hero-video">
    <iframe src="https://www.youtube.com/embed/bwEhXZIJads?autoplay=1&loop=1&mute=1&playlist=bwEhXZIJads" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="hero-content">
    <div class="hero-left">
      <img src={{moviesProfile[pos-1].poster}} alt="Imagen referencial">
    </div>
    <div class="hero-right">
      <h1>{{moviesProfile[pos-1].title}}</h1>
      <div class="hero-buttons">
        <button class="btn-info">Genero</button>
        <button class="btn-info">{{moviesProfile[pos-1].duration}}</button>
      </div>
    </div>
  </div>
</div>
