<div mat-dialog-title>
    <h1>Reservas</h1>
</div>
<form [formGroup]="empOfferForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            
            
        </div>

        <div>

        </div>

        <div class="row">

            
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type = "button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>