
.example-stepper {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
.title{

    padding-top: 40px;
    padding-bottom: 40px;

    p{
    font-size: 2rem;
    font-weight: bold;
    }
    
    .instruction{
    font-size: 16px;
    font-weight: normal;
    padding-top: 28px;
    }
}


