<div class="flex flex-column pt-5 ">
    <div class="flex flex-row align-content-center">
        <h1 class="pr-3">AutoCine Lima Park</h1>
        <mat-icon>bookmark</mat-icon>
    </div>
    <div class="flex pb-2">
        <p>
            Somos una propuesta de entretenimiento
            donde vivirás el cine desde la comodidad y 
            seguridad de tu auto. Podrás disfrutar de 
            los últimos estrenos y también de nuestra 
            confitería. ¡El lugar perfecto para salir de la 
            rutina! Te esperamos.
        </p>
    </div>
    <div class="address flex-colum pb-2">
        <div class="flex flex-row align-content-center">                                   
            <mat-icon class="flex align-items-center justify-content-center pr-2">location_on</mat-icon>
            <h1 class="flex align-items-center justify-content-center">Dirección</h1>
        </div>
        <p>
            Calle Alfredo Mendiola 3698 Km 
            8.5 de la Av. Panamericana Norte 
            Independencia
        </p>
    </div>
    <div class="date">
        <div class="flex flex-row">                                   
            <mat-icon class="pr-2">schedule</mat-icon>
            <h1>Horario de atención</h1>
        </div>
        <p>
            Lunes a Viernes: primera función del día
            Sábados, Domingo y festivos: primera función del díaa
        </p>
    </div>
</div>
