<form [formGroup]="empOfferForm" (ngSubmit)="onFormSubmit()" class="form">
    <div class="flex flex-column pt-2 pb-2">   
        <div class="personal-info">
            <h3><strong>01</strong> Datos Personales</h3>        
            <div class="row">            
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput type="text" placeholder="Ej. Yasmin Engely" formControlName="firstName">          
                    <mat-error *ngIf="empOfferForm.get('firstName')?.touched">
                        <ng-container *ngIf="empOfferForm.get('firstName')?.hasError('required')">
                          Nombres es <strong>requerido</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('firstName')?.hasError('minlength')">
                          Mínimo length (2 char) <strong>exceeded</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('firstName')?.hasError('maxlength')">
                          Maximum length (80 char) <strong>exceeded</strong>
                        </ng-container>
                    </mat-error>                  
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" placeholder="Ej. Vasquez Carrión" formControlName="lastName">
                    <mat-error *ngIf="empOfferForm.get('lastName')?.touched">
                        <ng-container *ngIf="empOfferForm.get('lastName')?.hasError('required')">
                          Apellidos es <strong>requerido</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('lastName')?.hasError('minlength')">
                          Mínimo length (2 char) <strong>exceeded</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('lastName')?.hasError('maxlength')">
                          Maximum length (80 char) <strong>exceeded</strong>
                        </ng-container>
                    </mat-error>       
                </mat-form-field>    
            </div>
    
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="genre">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let genre of genres" [value]="genre">
                            {{genre.label}}
                        </mat-option> 
                    </mat-select>
                    <mat-error *ngIf="empOfferForm.get('genre')?.touched && empOfferForm.get('genre')?.hasError('required')">
                        Genre is <strong>required</strong>
                    </mat-error>  
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Número de documento</mat-label>
                    <input matInput type="text" placeholder="Ej. 72920060" formControlName="documentNumber">
                    <mat-error *ngIf="empOfferForm.get('documentNumber')?.touched">
                        <ng-container *ngIf="empOfferForm.get('documentNumber')?.hasError('required')">
                            DNI is <strong>required</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('documentNumber')?.hasError('pattern')">
                            DNI is <strong>8 caracteres</strong>
                        </ng-container>
                    </mat-error>      
                </mat-form-field>       
            </div>
    
            <div class="row">
    
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Ej. 27/02/2005" formControlName="birthdate">
                    <mat-error *ngIf="empOfferForm.get('birthdate')?.touched && empOfferForm.get('birthdate')?.hasError('required')">
                        Campo <strong>requerido</strong>
                    </mat-error> 
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Celular</mat-label>
                    <input matInput type="text" placeholder="Ej. 964184051" formControlName="phoneNumber">
                    <mat-error *ngIf="empOfferForm.get('phoneNumber')?.touched">
                        <ng-container *ngIf="empOfferForm.get('phoneNumber')?.hasError('required')">
                            Número de celular <strong>required</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('phoneNumber')?.hasError('pattern')">
                            Son <strong>9 caracteres</strong>
                        </ng-container>
                    </mat-error>     
                </mat-form-field>    
            </div>
    
        </div> 
        <div class="user-details">
            <h3><strong>02</strong> E-mail de acceso</h3>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput type="text" placeholder="ex@gmail.com" formControlName="email">
                    <mat-error *ngIf="empOfferForm.get('email')?.touched">
                        <ng-container *ngIf="empOfferForm.get('email')?.hasError('required')">
                            Email es<strong>requerido</strong>
                        </ng-container>
                        <ng-container *ngIf="empOfferForm.get('email')?.hasError('email')">
                            El formato de correo electrónico es <strong>inválido</strong>
                        </ng-container>
                    </mat-error> 
                </mat-form-field>
    
            </div>
              
              
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="First Name" formControlName="password" >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="empOfferForm.get('password')?.touched && empOfferForm.get('password')?.hasError('required')">
                        La contraseña es <strong>requerida</strong>
                    </mat-error>         
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirma tu contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="First Name" formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button> 
                    <mat-error *ngIf="empOfferForm.get('confirmPassword')?.touched && empOfferForm.get('confirmPassword')?.hasError('required')">
                        La confirmación es <strong>requerida</strong>
                    </mat-error>
                    <mat-error *ngIf=" empOfferForm.get('confirmPassword')?.hasError('mismatch') && empOfferForm.get('confirmPassword')?.touched">
                        Las contraseñas no coinciden
                    </mat-error>      
                </mat-form-field>    
            </div>
        </div>
    </div>  
    <div mat-dialog-actions class="action flex flex-column">
        <button mat-raised-button type="submit">Crear cuenta</button>
    </div>
</form>
