.weeklyFilm {
  position: relative;
  display: inline-block;
  margin: 10px;

  img {
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

    .button {
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      transition: .2s ease;
      background-color: #f44336;

      &:hover {
        background-color: #fff;
        color: #f44336;
      }
    }
  }

  &:hover .overlay {
    height: 100%;
  }
}
