<ng-container>   
    <div fxLayout="row">
        <div class="near-events">
            <h1>Encuentra eventos cerca</h1>
            <p>San Miguel</p>
        </div>
        <div class="explore-more-events">
            <div class="popular-now">
                <h1>Populares</h1>
                <explore-popular-now></explore-popular-now>
            </div>
        </div>
        <div class="explore-more-events">
            <div class="popular-post">
                <h1>Publicaciones más populares</h1>
                <explore-popular-post></explore-popular-post>
            </div>
        </div>
    </div>
    
</ng-container>

