.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.cineclubCard {
  max-width: 300px;
  margin: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;

    mat-card-title {
      font-size: 2rem;
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: bold;
    }

    mat-card-subtitle {
      font-size: 1rem;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  mat-card-image {
    .image {
      width: 300px; /* Establece un ancho fijo para todas las imágenes */
      height: 200px; /* Establece una altura fija para todas las imágenes */
      object-fit: cover; /* Ajusta la imagen para llenar el espacio disponible sin deformarla */
      border-radius: 10px;
    }
  }

  mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;


  }
}
