<h2>CINECLUBS!</h2>

<div class="container">

  <mat-card class="cineclubCard">

    <div *ngIf="cineClubs.length > 0">

      <div *ngFor="let cineclub of cineClubs" class="cineClubWeek">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{cineclub.title}}</mat-card-title>
          <mat-card-subtitle>{{cineclub.subtitle}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{cineclub.image}}" alt="{{cineclub.title}}" style="width: 200px;">
        <mat-card-content>
          <p>{{cineclub.subtitle}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button>Add Favorite</button>
        </mat-card-actions>

      </div>

    </div>


    <div *ngIf="cineClubs.length == 0">
      <p>No se encontraron coincidencias</p>
    </div>



  </mat-card>

</div>







