<ng-container>
    <div class="card">
    <div class="flex flex-column card-container">
        <div class="flex flex-row align-items-center justify-content-end h-4rem font-bold m-2">
            <mat-icon class="pr-3">share</mat-icon>
            <mat-icon>add</mat-icon>
        </div>
        <div>
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="En cartelera">
                    <div class="flex flex-row pt-6">
                        <img src="https://i.postimg.cc/NFWm7DdL/parasite.png" alt="poster">
                        <div class="flex flex-column pl-5">
                            <div>
                                <h1>PARASITE</h1>
                            </div>
                            <div class="flex flex-row pb-5">
                                <div class="pr-2">
                                    <mat-card>
                                    <mat-card-content>M14</mat-card-content>
                                    </mat-card>
                                </div>
                                <div>
                                    <mat-card>
                                    <mat-card-content>92 min</mat-card-content>
                                    </mat-card>
                                </div>                                
                            </div>
                            <div class="flex flex-column">
                                <div class="flex flex-row">
                                    <mat-icon class="pr-2">calendar_today</mat-icon>
                                    <p>Miercoles, 12 de abril</p>
                                </div>

                                <div class="flex flex-row pt-2">
                                    <div class="pr-2"><button mat-stroked-button>17:30</button></div>                               
                                    <button mat-stroked-button>20:30</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                </mat-tab>
                <mat-tab label="Confitería"></mat-tab>
                <mat-tab label="Merchandising"></mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
</ng-container>

